[Unit]
Description=SSH Key Generation
ConditionPathExists=|!/var/lib/ssh/etc/ssh/ssh_host_ecdsa_key
ConditionPathExists=|!/var/lib/ssh/etc/ssh/ssh_host_ecdsa_key.pub
ConditionPathExists=|!/var/lib/ssh/etc/ssh/ssh_host_ed25519_key
ConditionPathExists=|!/var/lib/ssh/etc/ssh/ssh_host_ed25519_key.pub
ConditionPathExists=|!/var/lib/ssh/etc/ssh/ssh_host_rsa_key
ConditionPathExists=|!/var/lib/ssh/etc/ssh/ssh_host_rsa_key.pub

[Service]
ExecStart=/usr/bin/ssh-keygen -A -f /var/lib/ssh
ExecStartPost=/usr/bin/systemd-cat cat /var/lib/ssh/etc/ssh/ssh_host_ecdsa_key.pub
ExecStartPost=/usr/bin/systemd-cat cat /var/lib/ssh/etc/ssh/ssh_host_ed25519_key.pub
ExecStartPost=/usr/bin/systemd-cat cat /var/lib/ssh/etc/ssh/ssh_host_rsa_key.pub
Type=oneshot
RemainAfterExit=yes
