[package]
authors.workspace = true
description = "Configuration file handling for Signstar hosts"
edition.workspace = true
homepage.workspace = true
keywords = ["host", "hsm", "signstar"]
license.workspace = true
name = "signstar-config"
repository.workspace = true
version = "0.2.0"

[dependencies]
log.workspace = true
nethsm.workspace = true
nix.workspace = true
num_enum = "0.7.3"
pgp.workspace = true
rand.workspace = true
serde.workspace = true
signstar-common.workspace = true
signstar-crypto = { version = "0.1.0", path = "../signstar-crypto" }
signstar-yubihsm2 = { version = "0.1.0", path = "../signstar-yubihsm2", optional = true }
ssh-key = "0.6.7"
strum.workspace = true
tempfile = { workspace = true, optional = true }
testresult = { workspace = true, optional = true }
thiserror.workspace = true
toml = "0.9.0"
which = "8.0.0"
zeroize.workspace = true

[dev-dependencies]
change-user-run.workspace = true
nethsm = { features = ["test-helpers"], workspace = true }
rstest.workspace = true
signstar-common = { workspace = true, features = ["logging"] }
tempfile.workspace = true
testdir.workspace = true
testresult.workspace = true
tokio.workspace = true

[features]
_containerized-integration-test = ["_integration-test", "test-helpers"]
_integration-test = ["test-helpers"]
_nethsm-integration-test = ["_integration-test", "test-helpers"]
default = []
test-helpers = ["dep:tempfile", "dep:testresult"]
yubihsm2 = ["dep:signstar-yubihsm2"]

[lints]
workspace = true
